<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting NewCo IBM spinoff at best prices in the market</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nisi!</p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter Solution Name here..."
    />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">SuperV 109$</span></li>
    <li>Cisco 200$</li>
    <li>Avaya 200$</li>
    <li>Genesys 30$</li>
    <li>.net csharp 30$</li>
    <li>consulting 40$</li>
  </ul>
</section>
