<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collabsible__content">
        <ul class="list">
          <li><a href="#">Avaya Hosting</a></li>
          <li><a href="#">Cisco Hosting</a></li>
          <li><a href="#">Genesys Call-Centers</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collabsible__content">
        <ul class="list">
          <li><a href="#">About NewCo</a></li>
          <li><a href="#">Buissness Partnetrs</a></li>
          <li><a href="#">Social</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collabsible__content">
        <ul class="list">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/NewCo.png" alt="" />
      <p class="footer__copyright">Copyright 2020 NewCo LTD</p>
    </section>
  </div>
</footer>
